
@{
    ViewBag.Title = "ChiTietGiamKhao";
    Layout = "~/Views/Shared/_LayoutBGK.cshtml";
}

<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Đây là trang chủ của giám khảo</h2>

