
@{
    ViewBag.Title = "CT_NTT";
    Layout = "~/Views/Shared/_LayoutNTT.cshtml";
}

<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Đây là trang chủ Nhà Tài Trợ</h2>

