
@{
    ViewBag.Title = "GiamKhao";
    Layout = "~/Views/Shared/_LayoutBGK.cshtml";
}

<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Giám Khảo</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
          
            <a href="#" class="thumbnail">
                    <img src="~/anhgiamkhao/adam.jpg" style="height:250px" />         
            </a>
            @Html.ActionLink("Adam", "CT_GK", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">

                <img src="~/anhgiamkhao/alicy.jpg"style="height:250px" />
            </a>
            @Html.ActionLink("Acily", "CT_GK", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img src="~/anhgiamkhao/Blake.jpg" style="height:250px"/>     
            </a>
            @Html.ActionLink("Blake", "CT_GK", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img src="~/anhgiamkhao/Kelly.jpg" style="height:250px"/>       
            </a>
            @Html.ActionLink("Kelly", "CT_GK", "QLCTTHTH")
        </div>
    </div>
</div>
<br />
<br />