@{
    ViewBag.Title = "NhaTaiTro";
    Layout = "~/Views/Shared/_LayoutNTT.cshtml";
}
<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Nhà Tài Trợ</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <a href="#" class="thumbnail">

                <img src="~/anhnhataitro/0do.jpg" />
            </a>
            @Html.ActionLink("Trà Xanh 0 Độ", "CT_NTT", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">
                <img src="~/anhnhataitro/cocacola.jpg" />
            </a>
            @Html.ActionLink("Coca-Cola", "CT_NTT", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">      
                <img src="~/anhnhataitro/oppo.jpeg" />
            </a>
            @Html.ActionLink("Oppo", "CT_NTt", "QLCTTHTH")
        </div>
        <div class="col-lg-3">
            <a href="#" class="thumbnail">

                <img src="~/anhnhataitro/heineken.png" style="height:210px" />
            </a>
            @Html.ActionLink("Keineken", "CT_NTT", "QLCTTHTH")
        </div>
    </div>
</div>
<br />
<br />

