
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutDangNhap.cshtml";
}

<h2 style="text-align:center">Đăng nhập</h2>

<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <h4 style="color: tomato; text-align: center">@ViewBag.ThongBao</h4>
       
        <tr>
            
            <td style="color:greenyellow;">
           

                ID
            </td>
            
            <td>
                <input type="text" name="username" id="email">
            </td>
            @ViewData["Loi1"]
        </tr>
        <tr>
            <td style="color:greenyellow;">
                PASSWORD
            </td>
            <td>
                <input type="password" name="password" id="password">
            </td>
            @ViewData["Loi2"]
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="remember" id="remember">
            </td>
            <td style="color:greenyellow;">
                <label for="remember">
                    Remember me for 14 days
                </label>
            </td>
        </tr>
        <tr class="p-container">
            <td style="color:greenyellow;">
                <label>
                    Forgot password ?
                </label>
            </td>
            <td>
                <input type="submit" name="go" id="go" value="Log in">
            </td>
        </tr>
        <div>
        </div>
    }
</table>